@font-face {
  font-family: apexnew-bold;
  src: url(../fonts/ApexNew-Bold.otf);
}
@font-face {
  font-family: apexnew-medium;
  src: url(../fonts/apexnew-medium.otf);
}
@font-face {
  font-family: apexnew-book;
  src: url(../fonts/apexnew-book.otf);
}
@font-face {
  font-family: apexnew-book-italic;
  src: url(../fonts/apexnew-bookitalic.otf);
}
@font-face {
  font-family: apexnew-light;
  src: url(../fonts/apexnew-light.otf);
}
@font-face {
  font-family: apexnew-light-italic;
  src: url(../fonts/apexnew-lightitalic.otf);
}
/*
/**************
/**
/** FONTS SIZES
/**
/**************
*/
.rozmiar12 {
  font-size: 12px;
}
.rozmiar14 {
  font-size: 14px;
}
.rozmiar16 {
  font-size: 16px;
}
.rozmiar18 {
  font-size: 18px;
}
.rozmiar20 {
  font-size: 20px;
}
.rozmiar22 {
  font-size: 22px;
}
.rozmiar24 {
  font-size: 24px;
}
.rozmiar30 {
  font-size: 30px;
}
.rozmiar36 {
  font-size: 36px;
}
.rozmiar48 {
  font-size: 48px;
}
.rozmiar58 {
  font-size: 58px;
}
.rozmiar72 {
  font-size: 72px;
}
/*
/**************
/**
/** FONTS
/**
/**************
*/
.apexnew-book {
	font-family: "apexnew-book";
}
.apexnew-medium {
	font-family: "apexnew-medium";
}
.apexnew-bookitalic {
	font-family: "apexnew-book-italic";
}
.apexnew-light {
	font-family: "apexnew-light";
}
.apexnew-bold {
	font-family: "apexnew-bold";
}
.apexnew-light-italic {
	font-family: "apexnew-light-italic";
}
.no_padding{
	padding: 0px 0px 0px 0px !important;
}
.wysun{
	display:none;
}
.margin-top-30{
	margin-top:30px;
}
.border-radius-5{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.element_menu{
	border:3px solid #55AA55;
}
.details{
	margin-top:-4px;
	/*padding-bottom:300px;*/
	/*height:100px;*/
	border:3px solid #55AA55;
	display:none;
}
.for_hover{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.for_hover:hover{
	transform:scale(1.1);
}
ul{
	margin-left: 0 !important;
}
ul li{
	margin-left: 0 !important;
}
.all_questions{
	margin-top:50px;
}
.button{
	
	border:0px solid black;
	background-color:green;
	color:white;
	padding:5px 5px 5px 5px !important;
		-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.next_button{
	display:none;
}
a:hover{
	text-decoration:none !important;
}
.true{
	border:0px solid black;
	background-color:#2D882D;
}

.false{
	border:0px solid black;
	background-color:#AA3939;
}
@media (max-width: 767px) {
  .margin-for-xs {
    margin-top:20px;
  }
}

.grey_background{
	width:100%;
	height:100vh;
	background-color: rgba(0,0,0,0.7);
	position:absolute;
	z-index:9;
	display:none;
}
.incorrect_message{
	display:none;
		padding-top:30px;
	padding-bottom:30px;
	background-color:#FFAAAA;
	margin-top:10%;
	margin:5px solid white;
}

.correct_message{
	display:none;
	background-color:#88CC88;
		padding-top:30px;
	padding-bottom:30px;
	margin-top:10%;
	margin:5px solid white;
}
.almost_correct_message{
	display:none;
	background-color:#FFFFAA;
		padding-top:30px;
	padding-bottom:30px;
	margin-top:10%;
	margin:5px solid white;
}
.correct_and_incorrect_message{
	display:none;
	background-color:#6C939F;
	padding-top:30px;
	padding-bottom:30px;
	margin-top:10%;
	margin:5px solid white;
}
.span_message{
	/*position:absolute; 
	top:50%; 
	transform:translateY(-50%);
	left:22%;*/
}

.some_right_message {
	display:none;
	background-color:#d1db72;
	height:30vh;
	margin-top:10%;
	margin:5px solid white;
}

.wrong_and_right_message{
	display:none;
	background-color:#FFAAAA;
	height:30vh;
	margin-top:10%;
	margin:5px solid white;
}
.popup {
  box-shadow: 0 0 50px #888888;
  z-index: 9999;
  display: none;
  background-color: white;
  position: fixed !important;
  left: 25%;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  width: 50%;
  height: 50vh;
}
.wyszarzanie_strony {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 998;
}










