<!DOCTYPE html>
<html>
	<head>
		<title>
			Tworzenie materiałóww e-learningowych
		</title>
		
		<meta charset="utf-8">	
		
		<!-- STYLES -->	
		<link href="../css/style.css" rel="stylesheet">
		<link href="../css/bootstrap.css" rel="stylesheet">
		<link href="../css/style_checkbox_green.css" rel="stylesheet">
		
		<!-- SCRIPTS -->
		<script src="../js/jquery-1.11.3.js"></script>
		<script src="../js/my_javascript.js"></script>
		<script src="../js/angular.js"></script>	
        <!-- Mathjax obsługa-->
		<script type="text/javascript"
			src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
		</script>
		<script type="text/x-mathjax-config">
			MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
		</script>
		<script type="text/javascript"
			src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
		</script>
		
		<!-- FAVICON -->
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="favicon.ico">
		
		
	</head>
	<body ng-app="app" ng-controller="task">
        <!-- Tutaj wpisujemy odpowiednie wiadomości, które mają pokazać się gdy odpowiedź jest poprawna / niepoprawna-->
        <div class="grey_background">
			<div class="col-xs-8 col-xs-offset-2 apexnew-book text-center rozmiar36 correct_message no-padding" style="border:0px solid red;">
				<div class="col-xs-12" style="border:0px solid white;height:100%;">
				    <span style="">{{zadanie.wiadomoscPoprawna}}</span>
				</div>
			</div>
			<div class="col-xs-8 col-xs-offset-2 apexnew-book text-center rozmiar36 incorrect_message no-padding" style="border:0px solid red;">
				<div class="col-xs-12" style="border:0px solid white;">
				    <span style="">{{zadanie.wiadomoscBlad}}</span>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-8 col-sm-offset-1" >
			<div class="container margin-top-30 bg-info col-xs-12">
				<div class="text-center">
					<span class="apexnew-medium rozmiar36 responsiveText">Tworzenie materiałów e-learningowych</span>
				</div>
			</div>
			<div class="container col-xs-12 apexnew-light text-left rozmiar14 no_padding">
				<h2>Zadanie 1</h2>
				<p>{{zadanie.tresc}}</p>
				<form role="form">
					<label ng-repeat="odp in zadanie.odpowiedzi" class="radio">
						<input type="radio" name="optradio" ng-model="odp.zaznaczona" value="true" required>{{odp.tresc}}
					</label>
				</form>
                <!--Część odpowiedzialna za wyświetlanie podpowiedzi-->
                <div ng-repeat="podp in zadanie.podpowiedzi" class="radio">
                    <h3 ng-show="podp.pokaz || $first" ng-click="showHideHint($index)">{{podp.info}}</h3> <!--Tuaj wyswietlamy parametr info każdej podpowiedi-->
					<p ng-show="podp.pokazTresc">{{podp.tresc}}</p>  <!--Tuaj wyswietlamy treść każdej podpowiedi-->
				</div>
			    <div class="col-xs-12 col-sm-8 col-sm-offset-2" style="border:0px solid red; margin-top:80px;">
				    <div class="col-xs-12 col-sm-6" style="border:0px solid blue">
					    <a href="#"><div class="button text-center apexnew-medium">Wstecz</div></a>
				    </div>
				
				    <div class="col-xs-12 col-sm-6 margin-for-xs" style="border:0px solid blue">
					    <a ng-click="check()"><div class="button check_button text-center apexnew-medium">Sprawdz</div></a>
				    </div>	
			    </div>
		    </div>
    </div>
		<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
		<script src='../js/bootstrap.min.js'></script>
        <script>
            //skrypt dla zadan z jedna poprawna odpowiedzia
            var app = angular.module('app', []);
            app.controller('task', function ($scope) {
                //Tutaj podajemy tresc zadania:
                $scope.zadanie = {
                    tresc: "Pierwiastkiem równania $$x^2 - 2x + 4 = 0$$ jest",
                    wiadomoscPoprawna: "Zaznaczyles dobra wiadomosc, brawo", // wiadomosc ktora wyswieli sie jesli znaznaczono dobra odpowiedz
                    wiadomoscBlad: "Zaznaczyles zla wiadomosc", // wiadomosc ktora wyswieli sie jesli znaznaczono zla odpowiedz
                    //mozliwe odpowiedzi
                    odpowiedzi: [
                        {
                            tresc: "Poprawna odpowiedz",
                            poprawna: true, // true jesli odpowiedz jest poprawna, false w przeciwnym razie
                            zaznaczona: false // tutaj dajemy zawsze na false
                        },
                        {
                            tresc: "Błędna odpowiedz1",
                            poprawna: false,
                            zaznaczona: false
                        },
                        {
                            tresc: "Błędna odpowiedz 2",
                            poprawna: false,
                            zaznaczona: false
                        }
                    ],
                    podpowiedzi: [
                        {
                            info: "Podpowiedz 1", // napis, na ktory klikamy aby wyswietlic podpowieedz
                            tresc: '$$f\\colon\\mathbb{R}\\to[0,+\\infty)$, $g\\colon[0,+\\infty)\\to\\mathbb{R}$$;', // tresc podpowiedzi, resztę tylko przepisujemy, nic nie trzeba zmieniać
                            pokaz: true, // tylko w pierwszej podpowiedzi ustawiamy aby była widoczna, bez tego nie mamy gdzie kliknąć aby wyświetlić pierwszą podpowiedź.
                            pokazTresc: false
                        },
                        {
                            info: "Podpowiedz 2",
                            tresc: '$$x = {-b \\pm \\sqrt{b^2-4ac} \\over 2a}$$',
                            pokaz: false,
                            pokazTresc: false
                        },
                        {
                            info: "Podpowiedz 3",
                            tresc: "$$x = {-b \\pm \\sqrt{b^2-4ac} \\over 2a}$$",
                            pokaz: false,
                            pokazTresc: false
                        },
                        {
                            info: "Podpowiedz 4",
                            tresc: "TRESC PODPOWIEDZI NR 5",
                            pokaz: false,
                            pokazTresc: false
                        }
                    ]
                };

                //Tutaj raczej nie nalezy nic zmieniac
                $scope.check = function () {
                    var correct = true;
                    //sprawdzanie czy zaznaczona odpowiedz jest poprawna, tj
                    for (i = 0; i < $scope.zadanie.odpowiedzi.length; i++) {
                        var odp = $scope.zadanie.odpowiedzi[i];
                        if ((odp.poprawna && !odp.zaznaczona) || (!odp.poprawna && odp.zaznaczona)) {
                            correct = false;
                        }
                    }
                    //wyswietlanie powiadomienia
                    if (correct) {
                        $('.next_button').css("display", "block");
                        $('.grey_background').css("display", "block");
                        $('.correct_message').css("display", "block");
                        $scope.task_opt = false;
                    } else {
                        $('.grey_background').css("display", "block");
                        $('.incorrect_message').css("display", "block");
                    }
                    //czyszczenie
                    for (i = 0; i < $scope.zadanie.odpowiedzi.length; i++) {
                        if (!$scope.zadanie.odpowiedzi[i].poprawna) {
                            $scope.zadanie.odpowiedzi[i].zaznaczona = false;
                        }
                    }
                };

                $scope.showHideHint = function (index) {
                    $scope.zadanie.podpowiedzi[index].pokazTresc = !$scope.zadanie.podpowiedzi[index].pokazTresc;

                    for (i = index + 1; i < $scope.zadanie.podpowiedzi.length; i++) {
                        console.log("for z i= " + i);
                        $scope.zadanie.podpowiedzi[i].pokazTresc = false;
                        if (i == (index + 1)) {
                            $scope.zadanie.podpowiedzi[i].pokaz = !$scope.zadanie.podpowiedzi[i].pokaz;
                        } else {
                            $scope.zadanie.podpowiedzi[i].pokaz = false;
                        }
                    }
                };
            });
        </script>
	</body>
	
</html>