<!DOCTYPE html>
<html>
	<head>
		<title>
			Tworzenie materiałóww e-learningowych
		</title>
		
		<meta charset="utf-8">	
		
		<!-- STYLES -->	
		<link href="../css/style.css" rel="stylesheet">
		<link href="../css/bootstrap.css" rel="stylesheet">
		<link href="../css/style_checkbox_green.css" rel="stylesheet">
		
		<!-- SCRIPTS -->
		<script src="../js/jquery-1.11.3.js"></script>
		<script src="../js/my_javascript.js"></script>
		<script src="../js/angular.js"></script>	
        <script type="text/javascript" async
          src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>
		
		<!-- FAVICON -->
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="favicon.ico">
		
		
	</head>
	
	
	
	<body ng-app="app" ng-controller="task">
	
			<!--MENU-->
		<div class="col-xs-2">
			<div ng-include="'menu.html'"></div>
		</div>

        <!-- Tutaj wpisujemy odpowiednie wiadomości, które mają pokazać się gdy odpowiedź jest poprawna / niepoprawna-->
        <div class="grey_background">
			<div class="col-xs-8 col-xs-offset-2 apexnew-book text-center rozmiar36 correct_message " style="position:relative">
				<span style="position:absolute; top:50%; transform:translateY(-50%);left:21%;">POPRAWNA ODPOWIEDZ</span>
			</div>
			<div class="col-xs-8 col-xs-offset-2 apexnew-book text-center rozmiar36 incorrect_message" style="position:relative">
				<span style="position:absolute; top:50%; transform:translateY(-50%);left:21%;">BŁĘDNA ODPOWIEDZ</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm-8 col-sm-offset-1" >
			<div class="container margin-top-30 bg-info col-xs-12">
				<div class="text-center">
					<span class="apexnew-medium rozmiar36">Tworzenie materiałów e-learningowych</span>
				</div>
			</div>
			<div class="container col-xs-12 apexnew-light text-left rozmiar14 no_padding">
				<h2>Zadanie 1</h2>
				<p>Pierwiastkiem równania `x^2 - 2x + 4 = 0` jest</p>
                <div>
				    <form role="form">
					    <label class="radio">
						    <input type="radio" name="optradio" ng-model="task_opt" value="true" required>Poprawna
					    </label>
					    <label class="radio">
						    <input type="radio" name="optradio">Zła
					    </label>
					    <label class="radio">
						    <input type="radio" name="optradio">Zła
					    </label>
				    </form>
                </div>
				
                <!--Podpowiedzi do zadania-->
                <!--Kolejne podpowiedzi dodajemy analogicznie, zwiększając parametr przekazany w hint(index) oraz show_hint[param] o jeden, nie trzeba nic więcej zmieniać.-->
				<div style="display:inline-block;">
					<h3  ng-click="hint(0)">PODPOWIEDŹ 1</h3>
					<div ng-show="show_hint[0]">
						<p>`\Delta = b^2 - 4ac`</p>
                        <span ng-click="hint(1)">Dalsza podpowiedź</span>
						<div ng-show="show_hint[1]">
						    <p>$$x = {-b \pm \sqrt{b^2-4ac} \over 2a}$$</p>
                            <span ng-click="hint(2)">Podpowiedź nr 3</span>
						    <div ng-show="show_hint[2]">
						        <p>Treść podpowiedzi nr 3</p>
					        </div>
					    </div>
					</div>
				</div>
			</div>
			
			
			<div class="col-xs-12 col-sm-8 col-sm-offset-2 no_padding" style="border:0px solid red; margin-top:80px;">
			<div class="col-xs-12 col-sm-6 " style="border:0px solid blue">
				<a href="#"><div class="button text-center apexnew-medium">Back</div></a>
			</div>
			
			<div class="col-xs-12 col-sm-6 margin-for-xs" style="border:0px solid blue">
				<a ng-click="check()"><div class="button check_button text-center apexnew-medium">Check</div></a>
			</div>	
		</div>
		
		</div>
			
		
		
		<div class="col-xs-12 black_font apexnew-light rozmiar14 text-left" style="margin-top:15px; padding-left:24px">
			<!-- *pola obowiązkowe-->
		</div>
			
		</div>
		
		<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
		<script src='../js/bootstrap.min.js'></script>
        <script>
            var app = angular.module('app', []);
            app.controller('task', function ($scope) {
                $scope.check = function () {
                    if ($scope.task_opt === "true") {
                        $('.next_button').css("display", "block");
                        $('.grey_background').css("display", "block");
                        $('.correct_message').css("display", "block");
                    } else {
                        $('.grey_background').css("display", "block");
                        $('.incorrect_message').css("display", "block");
                    }
                };
                $scope.show_hint = [];
                $scope.hint = function (index) {
                    if (index === $scope.show_hint.length) {
                        $scope.show_hint.push(true);
                    } else {
                        $scope.show_hint[index] = !$scope.show_hint[index];
                    }
                };
            });
        </script>
	</body>
	
</html>